body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-btn {
    background-color: #fac000;
    color: #262633;
    border: none;
    padding: 16px 42px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 0.3s;
}

.auth-btn:active {
    transform: scale(0.75);
}